In [3]:
import numpy as np
import pandas as pd

In [3]:
pd.isnull(np.nan)
pd.isnull(None)

True

In [4]:
pd.notnull(3)

True

In [5]:
pd.isnull(pd.Series([1, np.nan, 0]))

0    False
1     True
2    False
dtype: bool

In [4]:
s = pd.Series([1, 2, 3, np.nan, 4])
pd.isnull(s)

0    False
1    False
2    False
3     True
4    False
dtype: bool

In [5]:
s[pd.notna(s)]

0    1.0
1    2.0
2    3.0
4    4.0
dtype: float64

In [15]:
s.dropna() #equal to the string above

0    1.0
1    2.0
2    3.0
4    4.0
dtype: float64

In [16]:
s.mean()

np.float64(2.5)

In [17]:
s

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
dtype: float64

In [7]:
s.fillna(0)
s

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
dtype: float64

In [29]:
s.ffill()

0    1.0
1    2.0
2    3.0
3    3.0
4    4.0
dtype: float64

In [32]:
df = pd.DataFrame({'Sex' : ['M','F', 'D', '?'], 'Age' : [29, 30, 159, 24]})
df

  Sex  Age
0   M   29
1   F   30
2   D  159
3   ?   24

In [33]:
df['Sex'].unique()

array(['M', 'F', 'D', '?'], dtype=object)

In [38]:
df['Sex'].value_counts()

Sex
M    1
F    1
D    1
?    1
Name: count, dtype: int64

In [41]:
df = df.replace({'Sex' : {'D' : 'F'}, 'Age' : {159 : 16}})

In [42]:
df

  Sex  Age
0   M   29
1   F   30
2   F   16
3   ?   24

In [43]:
ambassadors = pd.Series(['FR','GER','GER','UK','UK'], index = ['Gerard Araud', 'Kim Darroch', 'Peter Westmaccot', 'Klaus Sharioth', 'Peter Amon'])

In [44]:
ambassadors

Gerard Araud         FR
Kim Darroch         GER
Peter Westmaccot    GER
Klaus Sharioth       UK
Peter Amon           UK
dtype: object

In [46]:
ambassadors.duplicated()

Gerard Araud        False
Kim Darroch         False
Peter Westmaccot     True
Klaus Sharioth      False
Peter Amon           True
dtype: bool

In [47]:
ambassadors.duplicated(keep = False)

Gerard Araud        False
Kim Darroch          True
Peter Westmaccot     True
Klaus Sharioth       True
Peter Amon           True
dtype: bool

In [48]:
ambassadors.drop_duplicates()

Gerard Araud       FR
Kim Darroch       GER
Klaus Sharioth     UK
dtype: object

In [49]:
ambassadors.drop_duplicates(keep = 'last')

Gerard Araud         FR
Peter Westmaccot    GER
Peter Amon           UK
dtype: object

In [67]:
df = pd.DataFrame({'Data' : ['1987_M_US _1', '1990?_M_UK_1', '1985_F_I T_2']})
df

           Data
0  1987_M_US _1
1  1990?_M_UK_1
2  1985_F_I T_2

In [68]:
df['Data'].str.split('_')

0    [1987, M, US , 1]
1    [1990?, M, UK, 1]
2    [1985, F, I T, 2]
Name: Data, dtype: object

In [69]:
df['Data'].str.split('_', expand = True)

       0  1    2  3
0   1987  M  US   1
1  1990?  M   UK  1
2   1985  F  I T  2

In [70]:
df = df['Data'].str.split('_', expand = True)

In [71]:
df

       0  1    2  3
0   1987  M  US   1
1  1990?  M   UK  1
2   1985  F  I T  2

In [72]:
df.columns = ['Year', 'Sex', 'Country', 'Number of crimes']

In [73]:
df

    Year Sex Country Number of crimes
0   1987   M     US                 1
1  1990?   M      UK                1
2   1985   F     I T                2

In [74]:
df['Year'].str.contains('\?')

<unknown>:1: SyntaxWarning: invalid escape sequence '\?'
<>:1: SyntaxWarning: invalid escape sequence '\?'
<>:1: SyntaxWarning: invalid escape sequence '\?'
<ipython-input-74-1fce2201acc9>:1: SyntaxWarning: invalid escape sequence '\?'
  df['Year'].str.contains('\?')

0    False
1     True
2    False
Name: Year, dtype: bool

In [75]:
df['Year'].str.replace('?', '')

0    1987
1    1990
2    1985
Name: Year, dtype: object

In [76]:
df['Country'].str.strip()

0     US
1     UK
2    I T
Name: Country, dtype: object

In [78]:
df['Year'].str.replace(r'(?P<year>\d{2})\?', lambda m: m.group('year'))

<class 'ValueError'>: Cannot use a callable replacement when regex=False