In [17]:
#series
import pandas as pd
import numpy as np

In [3]:
g7_pop = pd.Series([35.4, 63.951, 80.94, 60.665, 127.061, 64.511, 318.523])

In [4]:
g7_pop

0     35.400
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

In [5]:
g7_pop.astype('float32')

0     35.400002
1     63.951000
2     80.940002
3     60.665001
4    127.060997
5     64.511002
6    318.523010
dtype: float32

In [6]:
g7_pop.name = "G7 Population in mil"

In [7]:
g7_pop

0     35.400
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 Population in mil, dtype: float64

In [8]:
g7_pop.index = ["Canada", 'France', 'Germany', 'Italy', 'Japan', 'UK', 'US']

In [12]:
g7_pop

Canada      35.400
France      63.951
Germany     80.940
Italy       60.665
Japan      127.061
UK          64.511
US         318.523
Name: G7 Population in mil, dtype: float64

In [13]:
g7_pop.mean()

np.float64(107.293)

In [14]:
g7_pop[(g7_pop < g7_pop.mean() - g7_pop.std()/2) | (g7_pop > g7_pop.mean() + g7_pop.std()/2)]

Canada     35.400
US        318.523
Name: G7 Population in mil, dtype: float64

In [18]:
#dataframe or table

In [19]:
dp = pd.DataFrame({'Population' :[35.4, 63.951, 80.94, 60.665, 127.061, 64.511, 318.523],
                   'GDP' : [1785387, 2833687,3874437, 2167744, 420236, 2950039, 17348975],
                   'HDI' : [0.913, 0.888, 0.916, 0.873, 0.891,0.907,0.915]}, columns = ['Population', 'GDP', 'HDI'])

In [20]:
dp

   Population       GDP    HDI
0      35.400   1785387  0.913
1      63.951   2833687  0.888
2      80.940   3874437  0.916
3      60.665   2167744  0.873
4     127.061    420236  0.891
5      64.511   2950039  0.907
6     318.523  17348975  0.915

In [22]:
dp.index = ['Canada', 'France', 'Germany', 'Italy', 'Japan', 'UK', 'US']

In [23]:
dp

         Population       GDP    HDI
Canada       35.400   1785387  0.913
France       63.951   2833687  0.888
Germany      80.940   3874437  0.916
Italy        60.665   2167744  0.873
Japan       127.061    420236  0.891
UK           64.511   2950039  0.907
US          318.523  17348975  0.915

In [24]:
dp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Canada to US
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Population  7 non-null      float64
 1   GDP         7 non-null      int64
 2   HDI         7 non-null      float64
dtypes: float64(2), int64(1)
memory usage: 196.0+ bytes

In [26]:
dp.shape

(7, 3)

In [27]:
dp.describe()

       Population           GDP       HDI
count    7.000000  7.000000e+00  7.000000
mean   107.293000  4.482929e+06  0.900429
std     97.258221  5.775198e+06  0.016592
min     35.400000  4.202360e+05  0.873000
25%     62.308000  1.976566e+06  0.889500
50%     64.511000  2.833687e+06  0.907000
75%    104.000500  3.412238e+06  0.914000
max    318.523000  1.734898e+07  0.916000

In [28]:
dp.loc[dp['Population'] > 70]

         Population       GDP    HDI
Germany      80.940   3874437  0.916
Japan       127.061    420236  0.891
US          318.523  17348975  0.915

In [29]:
dp.drop('Canada')

         Population       GDP    HDI
France       63.951   2833687  0.888
Germany      80.940   3874437  0.916
Italy        60.665   2167744  0.873
Japan       127.061    420236  0.891
UK           64.511   2950039  0.907
US          318.523  17348975  0.915

In [30]:
dp

         Population       GDP    HDI
Canada       35.400   1785387  0.913
France       63.951   2833687  0.888
Germany      80.940   3874437  0.916
Italy        60.665   2167744  0.873
Japan       127.061    420236  0.891
UK           64.511   2950039  0.907
US          318.523  17348975  0.915

In [33]:
dp.drop(['Italy', 'Canada'], axis = 0)

         Population       GDP    HDI
France       63.951   2833687  0.888
Germany      80.940   3874437  0.916
Japan       127.061    420236  0.891
UK           64.511   2950039  0.907
US          318.523  17348975  0.915

In [34]:
dp.drop(['Population', 'HDI'], axis = 1)

              GDP
Canada    1785387
France    2833687
Germany   3874437
Italy     2167744
Japan      420236
UK        2950039
US       17348975

In [35]:
NIGERS_HAVE_ARRIVED = pd.Series([-1_000_000, -0.3], index = ['GDP', 'HDI'])
NIGERS_HAVE_ARRIVED

GDP   -1000000.0
HDI         -0.3
dtype: float64

In [36]:
dp[['GDP', 'HDI']] + NIGERS_HAVE_ARRIVED

                GDP    HDI
Canada     785387.0  0.613
France    1833687.0  0.588
Germany   2874437.0  0.616
Italy     1167744.0  0.573
Japan     -579764.0  0.591
UK        1950039.0  0.607
US       16348975.0  0.615

In [38]:
dp[['GDP', 'HDI']]

              GDP    HDI
Canada    1785387  0.913
France    2833687  0.888
Germany   3874437  0.916
Italy     2167744  0.873
Japan      420236  0.891
UK        2950039  0.907
US       17348975  0.915

In [40]:
langs = pd.Series(['French', 'German', 'Italian'], index = ['France', 'Germany', 'Italy'], name = 'Language')

In [41]:
langs

France      French
Germany     German
Italy      Italian
Name: Language, dtype: object

In [42]:
dp['Language'] = langs
dp

         Population       GDP    HDI Language
Canada       35.400   1785387  0.913      NaN
France       63.951   2833687  0.888   French
Germany      80.940   3874437  0.916   German
Italy        60.665   2167744  0.873  Italian
Japan       127.061    420236  0.891      NaN
UK           64.511   2950039  0.907      NaN
US          318.523  17348975  0.915      NaN

In [71]:
dp.Language[['Canada', 'UK', 'US']]

Canada    English
UK        English
US        English
Name: Language, dtype: object

In [75]:
dp.Language['Japan'] = 'Japanese'

<ipython-input-75-a5fbd64c2fa9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dp.Language['Japan'] = 'Japanese'

In [76]:
dp

         Population       GDP    HDI  Language
Canada       35.400   1785387  0.913   English
France       63.951   2833687  0.888    French
Germany      80.940   3874437  0.916    German
Italy        60.665   2167744  0.873   Italian
Japan       127.061    420236  0.891  Japanese
UK           64.511   2950039  0.907   English
US          318.523  17348975  0.915   English

In [93]:
dp.loc['US'] = pd.Series({'GDP' : 30_000_000_0, 'HDI' : 1.0, 'Language' : 'AMERICAN', 'Population' : 360.523})
dp

         Population          GDP    HDI  Language
Canada       35.400    1785387.0  0.913   English
France       63.951    2833687.0  0.888    French
Germany      80.940    3874437.0  0.916    German
Italy        60.665    2167744.0  0.873   Italian
Japan       127.061     420236.0  0.891  Japanese
UK           64.511    2950039.0  0.907   English
US          360.523  300000000.0  1.000  AMERICAN

In [98]:
dp

         Population          GDP    HDI  Language  GDP per capita
Canada       35.400    1785387.0  0.913   English    50434.661017
France       63.951    2833687.0  0.888    French    44310.284437
Germany      80.940    3874437.0  0.916    German    47868.013343
Italy        60.665    2167744.0  0.873   Italian    35733.025633
Japan       127.061     420236.0  0.891  Japanese     3307.356309
UK           64.511    2950039.0  0.907   English    45729.239975
US          360.523  300000000.0  1.000  AMERICAN   832124.441436

In [104]:
dp['GDP per capita'] = dp['GDP'] / dp['Population']
dp = dp.round({'Population' : 4, 'GDP per capita' : 1})
dp

         Population          GDP   HDI  Language  GDP per capita
Canada        35.40    1785387.0  0.91   English         50434.7
France        63.95    2833687.0  0.89    French         44311.0
Germany       80.94    3874437.0  0.92    German         47868.0
Italy         60.66    2167744.0  0.87   Italian         35736.0
Japan        127.06     420236.0  0.89  Japanese          3307.4
UK            64.51    2950039.0  0.91   English         45729.9
US           360.52  300000000.0  1.00  AMERICAN        832131.4

In [101]:
dp.round?

Signature:
dp.round(
    decimals: 'int | dict[IndexLabel, int] | Series' = 0,
    *args,
    **kwargs,
) -> 'DataFrame'
Docstring:
Round a DataFrame to a variable number of decimal places.

Parameters
----------
decimals : int, dict, Series
    Number of decimal places to round each column to. If an int is
    given, round each column to the same number of places.
    Otherwise dict and Series round to variable numbers of places.
    Column names should be in the keys if `decimals` is a
    dict-like, or in the index if `decimals` is a Series. Any
    columns not included in `decimals` will be left as is. Elements
    of `decimals` which are not columns of the input will be
    ignored.
*args
    Additional keywords have no effect but might be accepted for
    compatibility with numpy.
**kwargs
    Additional keywords have no effect but might be accepted for
    compatibility with numpy.

Returns
-------
DataFrame
    A DataFrame with the affected columns rounded to the specified
    number of decimal places.

See Also
--------
numpy.around : Round a numpy array to the given number of decimals.
Series.round : Round a Series to the given number of decimals.

Examples
--------
>>> df = pd.DataFrame([(.21, .32), (.01, .67), (.66, .03), (.21, .18)],
...                   columns=['dogs', 'cats'])
>>> df
    dogs  cats
0  0.21  0.32
1  0.01  0.67
2  0.66  0.03
3  0.21  0.18

By providing an integer each column is rounded to the same number
of decimal places

>>> df.round(1)
    dogs  cats
0   0.2   0.3
1   0.0   0.7
2   0.7   0.0
3   0.2   0.2

With a dict, the number of places for specific columns can be
specified with the column names as key and the number of decimal
places as value

>>> df.round({'dogs': 1, 'cats': 0})
    dogs  cats
0   0.2   0.0
1   0.0   1.0
2   0.7   0.0
3   0.2   0.0

Using a Series, the number of places for specific columns can be
specified with the column names as index and the number of
decimal places as value

>>> decimals = pd.Series([0, 1], index=['cats', 'dogs'])
>>> df.round(decimals)
    dogs  cats
0   0.2   0.0
1   0.0   1.0
2   0.7   0.0
3   0.2   0.0
File:      /lib/python3.12/site-packages/pandas/core/frame.py
Type:      method